@import 'config';


*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient($soft-violet, $soft-blue);
    font-family: 'Kumbh Sans', sans-serif;
}

#banner-box-desktop {
    display: none;
}

.component {
    width: 22rem;
    height: 35.5rem;
    border-radius: 1rem;
    position: relative;
    margin-top: 50%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 10px 30px hsla(0, 0%, 0%, 0.452);
}

/* IMAGE STYLES */

.banner-mobile {
    position: absolute;
    left: 2.5rem;
    border: 1px solid orange;

    img {
        width: 17rem;
        height: auto;
        position: absolute;
    }

    #banner-img-mobile {
        top: -7.75rem;
    }
}

.banner-desktop {
    display: none;
}

/* FAQ CARD STYLES */

.faq-card {
    width: 18rem;
    height: 25rem;
    margin-top: 9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .questions-list {
        list-style: none;
        margin-top: 1rem;
        width: 100%;

        li {
            border-bottom: 1px solid $light-grayish-blue;
            padding: 1rem 0;
        }

        .question {
            color: $darker-grayish-blue;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;
            text-decoration: none;
            font-size: .9rem;
            

            &:hover {
                cursor: pointer;
                color: $soft-red;
                transition: color 200ms ease-in;
            }

            &.active, &active:hover {
                color: $dark-desaturated-blue;
                font-weight: 700;
                transition: color 500ms ease-in;
            }

            img {
                height: .5rem;

                &.open {
                    transform: rotate(-180deg);
                    transition: all 200ms ease-in;
                }
            }

        }

        .answer {
            color: $grayish-blue;
            line-height: 1.3rem;
            margin-top: .75rem;
            font-size: .8rem;
            width: 95%;
            overflow: hidden;
            transition: margin-top 250ms ease-out;
        }

        .hidden {
            height: 0;
            margin-top: 0;
        }

    }
}






/* RESPONSIVE STYLES */

@media only screen and (min-width: 1440px) {

    .desktop {
        position: relative;
    }

    .component {
        width: 60rem;
        height: 35rem;
        margin-top: 0;
        flex-direction: row;
        justify-content: space-between;
        overflow: hidden;
    }

    /* IMAGE STYLES */
    
    .banner-mobile {
        display: none;
    }

    #banner-box-desktop {
        display: block;
        position: absolute;
        width: 12.5rem;
        z-index: 1;
        top: 12.5rem;
        left: -5.5rem;
    }
    
    .banner-desktop {
        display: block;
    
        img {
            position: absolute;
        }

        #banner-shadow-desktop {
            top: -18rem;
            left: -35rem;
        }
        
        #banner-img-desktop {
            width: 30rem;
            height: auto;
            top: 4rem;
            left: -4.5rem;
        }
    }

    .banner {
        width: 50%;
        height: 100%;
    }

    /* FAQ CARD STYLES */

    .faq {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        position: relative;

        .faq-card {
            margin-top: 2rem;
            width: 23rem;
            height: 28rem;
            align-items: flex-start;
            
            .questions-list {
                margin-top: 1.5rem;
        
                li {
                    padding: 1.25rem 0;
                }
        
                .question {
                    font-size: 1rem;
                }
        
                .answer {
                    color: $grayish-blue;
                    line-height: 1.4rem;
                    margin-top: .75rem;
                }

                .hidden {
                    height: 0;
                    margin-top: 0;
                }
            }
        }
    }


}







.attribution { 
    font-size: 11px; text-align: center; 

    a { 
        color: hsl(228, 45%, 44%); 
    }
}